@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;600&family=Ubuntu:wght@300;400&display=swap');

:root {
    --gray--input-fields: #8c8c8c;
    --gray--reach-us: #595959;
    --orange: #ff6200;
    --gray: #ededed;
    --white: #f6f6f6;
    --main-width: 974px;
    --font-family-v1: 'Bebas Neue', cursive;
    --font-family-v2: 'Open Sans', cursive;
    --font-family-v3: 'Ubuntu';
    --divisor-pt: 1.3;
    --menu-width: 77px;
    --menu-text-color: #454545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

body{
    background-color: var(--white);
}

ul li{
    display: inline-block;
    font-size: 13px;
}

header { 
    font-family: var( --font-family-v1);
}

.logo-title{
    font-size: 41px;
}

.center-content{
    width: var(--main-width);
    margin: auto;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.space-between{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.access{
    font-size: 15px;
}

.background-gray {
    background-color: var(--gray);
}

.top-bar{
    color: var(--white);
    padding: 10px 0;
    background-color: var(--orange);
}

.logo-wrapper{
    padding: 20px 0;
}

.opacity-word{
    color: rgba(0, 0, 0, 0.65);
    opacity: 0.5;
    padding-right: 5px;
}

.color-orange{
    color: var(--orange);
}

.dropdown { 
    min-width: var(--menu-width);
    position: relative;
    color: var(--menu-text-color);
}

.select{
    color: black;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

.select span{
    text-align: center;
    margin: auto;
    font-size: 14px;
}

.select span:hover{
    border-bottom: solid var(--orange) 3px;

}

.select-clicked{
    border-bottom: solid var(--orange) 3px;
}

.menu{
    list-style: none;
    padding: 0.3em;
    border: solid black 1px;
    position: absolute;
    top: 2em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    color: var(--menu-text-color);
    background-color: var(--white);
    letter-spacing: 1px;
}

.menu li{
    padding: 0.2em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.menu li:hover{
    background-color: rgba(128, 128, 128, 0.338);
}

.submenu{
    position: absolute;
    border: solid black 1px;
    width: var(--menu-width);
    left: var(--menu-width);
    display: none;
    opacity: 0;
    font-size: 12px;
    color: var(--menu-text-color);
    background-color: var(--white);
}

.submenu-1{
    top: 0em;
}

.submenu-2{
    top: 3em;
}

.submenu-3{
    top: 5em;
}

.menu li, .submenu li{
    line-height: 24px;
    margin: 0;
}

/*
*   Active style added in js
*/
.active{
    color: black;
}

/*
*   Open Styles added in JS
*/
.menu-open{
    display: block;
    opacity: 1;
}

.sub-menu-open{
    display: block;
    opacity: 1;
}

.path{
    height: 100px;
    display: flex;
}

.path p{
    margin: auto 0;
    color: #929292;
}

.selected-tab{
    color: #454545;
}

.contact-title{
    font-size: 27px;
    font-family: var(--font-family-v2);
    font-weight: 600;
}

.contact-text{
    font-family: var(--font-family-v3);
    font-size: 14px;
    font-weight: 400;
    width: 830px;
}

.contact-tittle-wrapper{
    padding: 5px 15px;
    color: #878787;
}

.us-wrapper{
    margin-top: 56px;
    padding: 0 15px; 
}

.reach-us{
    color: var(--gray--reach-us);
    width: 400px;
}

.contact-us{
    width: 400px;
}

.margin-wrapper{
    margin: 20px 0;
}

.us-titles{
    font-family: var(--font-family-v2);
    color: var(--orange);
    font-size: 23px;
    font-weight: 400;
    border-bottom: solid black 5px;
}

.text-input-style{
    font-family: var(--font-family-v3);
    font-size: 14px;
    padding: 5px;
    background-color: var(--gray);
    border: none;
}

.text-input-md{
    width: 100%;
}

.text-input-sm{
    width: 45%;
}

.text-input-xl{
    background-color: var(--gray);
    border: none;
    width: 100%;
    font-size: 14px;
    height: 150px;
    padding: 5px;
}

.btn-form{
    border: none;
    background-color: var(--orange);
    color: var(--white);
    margin-top: 22px;
    padding: 12px 22px;
    font-size: 13px;
    font-family: var(--font-family-v2);
    font-weight: 600;
    cursor: pointer;
}

.address{
    margin-top: 12px;
}

.contact-numbers{
    margin-top: 21px;
}

.icon-box{
    width: 33px;
    height: 31px;
    cursor: pointer;
    background-color: rgba(140, 140, 140, 0.32);
    align-items: center;
}

.icon-box:hover{
    background-color: black;
}

.selected-icon{
    background-color: black;
}

.body-height{
    height: 223px;
}

.icons-wrapper{
    width: 180px;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
}

ion-icon{
    color: white;
    font-size: 26px;
    margin: auto;
    background-color: none;
}


